<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{Home.Title}"></title>
    <link rel="icon" href="#" th:href="@{/img/favicon.ico}" type="image/x-icon"/>

</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Repository management:</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
    </ol>

    <div class="col-md-7">
        <div class="box">
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <button type="button" data-toggle="modal" data-target="#uploadFolderModal" class="btn btn-default btn-sm"><i class="fa fa-plus-square"></i> Create folder
                    </button>
                    <div class="pull-right">
                        <button type="button" data-toggle="modal" data-target="#uploadFileModal" class="btn btn-default btn-sm"><i class="fa fa-upload"></i>
                            <span> Upload document</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div layout:fragment="content">
    <!-- Modal -->
    <div class="modal fade" id="uploadFolderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="uploadFolderModalLabel">Create folder</h4>
                </div>
                <div class="modal-body">

                    <form role="form" th:action="@{/repository/folder}" th:object="${newFolder}" enctype="multipart/form-data"
                          method="post" >
                        <div class="box-body">

                            <div class="form-group">
                                <label for="folder_name"
                                       data-toggle="tooltip" data-placement="right" data-html="true"
                                       title="Folder name">Folder name</label>
                                <input type="text"
                                       class="form-control"
                                       id="folder_name"
                                       th:field="${newFolder.name}"
                                       th:required="required"
                                       placeholder="Folder name">

                            </div>

                            <div th:if="${folder != null}" class="form-group">
                                <input type="hidden"
                                       id="parent_folder"
                                       name="parentFolder.id"
                                       th:value="${folder.id}" />
                            </div>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->
    <!-- Modal -->
    <div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="uploadFileModalLabel">Upload document</h4>
                </div>
                <div class="modal-body">
                    <form role="form" th:action="@{/repository/upload}" th:object="${newDoc}" enctype="multipart/form-data"
                          method="post" >
                        <div class="box-body">

                            <div class="form-group">
                                <label for="doc_file"
                                       data-toggle="tooltip" data-placement="right" data-html="true">Select file</label>
                                <input type="file"
                                       id="doc_file"
                                       accept=".pdf, .docx, .doc, .txt, .jpeg, .png "
                                       th:field="${newDoc.file}"
                                       th:required="required"
                                       class="form-control-file">
                            </div>

                            <div th:if="${folder != null}" class="form-group">
                                <input type="hidden"
                                       id="doc_folder"
                                       name="parentFolder.id"
                                       th:value="${folder.id}" />
                            </div>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->
    <div class="col-md-7">
        <div th:if="${message != null}" class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-warning"></i> Alert!</h4>
            <p th:text="${message}"></p>
        </div>

        <div th:if="${message_info != null}" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-warning"></i> Info!</h4>
            <p th:text="${message_info}"></p>
        </div>

        <div th:if="${message_error != null}" class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-warning"></i> Error!</h4>
            <p th:text="${message_error}"></p>
        </div>
    </div>

    <div class="row">
        <!-- .col -->
        <div class="col-md-7">
            <!-- Block buttons -->
            <div class="box">
                <div class="panel panel-primary">
                    <div class="panel-body scrollable-panel">
                        <div th:if="${folder != null}" id="folders" >
                            <!--root folders-->
                            <ul class="nav nav-pills nav-stacked">
                                <li th:if="${folder.parentFolder != null}" >
                                    <a th:href="@{/repository(folder_id=${folder.parentFolder.id})}"><i class="fa fa-backward"></i> <span th:text="${folder.parentFolder.name}"></span></a>
                                </li>
                                <li>
                                    <a th:href="@{/repository(folder_id=${folder.id})}"><i class="fa fa-folder-open"></i> <span th:text="${folder.name}"></span></a>
                                </li>
                            </ul>
                            <!--folders-->
                            <div class=""  th:each="f: ${folder.folders}">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>
                                        <a th:href="@{/repository(folder_id=${f.id})}"><i class="fa fa-folder"></i> <span th:text="${f.name}"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <!--documents-->
                            <div class=""  th:each="d: ${folder.documents}">
                                <ul class="nav nav-pills nav-stacked">
                                    <li th:id="repo_doc_ + ${d.id}">
                                        <a th:switch="${d.mimeType}" th:href="@{/repository(doc_id=${d.id})}">
                                            <i th:case="'application/pdf'" class="fa fa-file-pdf-o"></i>
                                            <i th:case="'application/msword'" class="fa fa-file-word-o"></i>
                                            <i th:case="'application/vnd.openxmlformats-officedocument.wordprocessingml.document'" class="fa fa-file-word-o"></i>
                                            <i th:case="'image/jpeg'"  class="fa fa-file-image-o"></i>
                                            <i th:case="'image/png'" class="fa fa-file-image-o"></i>
                                            <i th:case="'text/plain'" class="fa fa-file-code-o"></i>
                                            <i th:case="*" class="fa fa-file-o"></i>
                                            <span th:text="${d.title}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
        <!-- .col -->
        <div class="col-md-5">
            <div class="box">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Available Actions:</h3>
                    </div>
                    <div class="panel-body scrollable-panel-actions">
                        <div class="box box-solid">
                            <div class="box-body no-padding">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#"><i class="fa fa-file-pdf-o"></i> Covert DOCX to PDF</a></li>
                                    <li><a href="#"><i class="fa fa-file-word-o"></i> Covert PDF to DOCX</a></li>
                                    <li><a href="#"><i class="fa fa-check-square-o"></i> Scan Signatures</a></li>
                                    <li><a href="#"><i class="fa fa-qrcode"></i> Scan QRcode</a></li>
                                    <li><a href="#"><i class="fa fa-download"></i> Download document</a></li>
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                      <!--  <button type="button" class="btn btn-default btn-block"><i class="fa fa-file-pdf-o"></i> Covert DOCX to PDF</a></button>-->
                    </div>
                </div>

            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-5">
            <div class="box">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Selected Doc Info:</h3>
                    </div>
                    <div class="panel-body scrollable-panel-info">

                        <dl class="dl-horizontal">
                            <dt>Title</dt>
                            <dd>Document 1</dd>
                            <dt>Type</dt>
                            <dd>PDF</dd>
                            <dt>Data</dt>
                            <dd>11/04/2022</dd>

                        </dl>


                        <div class="box box-solid">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="box-group" id="accordion">
                                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                    <div class="panel box box-primary">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                    Barcodes/QRcodes
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="box-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                                wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                                labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel box box-success">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                    Signatures
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="box-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                                wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                                labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->


                    </div>
                </div>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>



</div>
</body>
</html>
